<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112034517090-90dc4pmu08uqerd0nplurc52qrd9kith.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112034517090-90dc4pmu08uqerd0nplurc52qrd9kith</string>
	<key>API_KEY</key>
	<string>AIzaSyAhRMfCE4x3bJFl__S58teTJbNAjgDVk9s</string>
	<key>GCM_SENDER_ID</key>
	<string>112034517090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akito.apeMatch</string>
	<key>PROJECT_ID</key>
	<string>ape-match-32e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>ape-match-32e8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112034517090:ios:9ea72e6ed9336f4e0a013b</string>
</dict>
</plist>