<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155996547323-is8eoooo3vlj2omoldtu6cmjve3d6ggm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155996547323-is8eoooo3vlj2omoldtu6cmjve3d6ggm</string>
	<key>API_KEY</key>
	<string>AIzaSyCsTVyN3nLkESKyh1-UBOKUXiaUaGtYgpI</string>
	<key>GCM_SENDER_ID</key>
	<string>155996547323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akito.apeMatch</string>
	<key>PROJECT_ID</key>
	<string>ape-match-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ape-match-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155996547323:ios:40bb543b08332a0e88285e</string>
</dict>
</plist>